body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

p {
    margin: 20px;
    font-size: 18px;
}

img {
    margin: 20px 0;
}
